/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018. 7. 23, 오후 3:20:12
    Author     : b003
*/

#searchinput{
    width:450px;
    height:30px;
}
a{
    text-decoration: none;
}
#top{
    width:100%;

}
input{
    width:300px;
}
#top li{
    padding-left:35px;
}
#search {
    width:350px;
}
.nav-item a:hover{
    background:wheat;
}
#category{
    width:1200px;
    margin:auto;
    background:beige;
}
#category li{
    padding-left:60px;
    text-align:center;
}
#recommend{
    width:1100px;
    margin:auto;
    padding-top:50px;
}
figure{
    padding:0px 20px 20px;
    float:left;
}
#hot_review{
    width:1100px;
    margin:auto;
    clear:both;
    padding-top:80px;
}
figcaption{
    text-align:center;
}
#registerForm{
    width:500px;
    margin:auto;
    background:#DDF;
    border:1px solid #99F;
}
#formtable{
    width:500px;
    margin:auto;
}
#registerForm td{
    text-align:center;
    padding:20px 0px;
}
.forminput{
    background:#EEF;
    width:250px;
    height:30px;
}
.commandButton{
    width:80;
    height:20;
}
.carousel{
    width:85%;
    height:500px;
    margin:auto;
    padding:30px 0px 30px;
}
.carousel-item img{
    width:100%;
    height:500px;
}